<%= form_for(@file_record) do |f| %>
  <% if @file_record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@file_record.errors.count, "error") %> prohibited this file_record from being saved:</h2>

      <ul>
      <% @file_record.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
