<h1>Listing file_records</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @file_records.each do |file_record| %>
      <tr>
        <td><%= file_record.title %></td>
        <td><%= link_to 'Show', file_record %></td>
        <td><%= link_to 'Edit', edit_file_record_path(file_record) %></td>
        <td><%= link_to 'Destroy', file_record, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New File record', new_file_record_path %>
