<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @file_record.title %>
</p>

<p>
  <strong>Asociated steps:</strong>
  <table>
    <thead>
      <tr>
        <th>File record</th>
        <th>Person</th>
        <th>Office</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
    
    <% @file_record.steps.each do |step| %>
        <tr>
          <td>
            <% if step.file_record %>
              <%= step.file_record.title %>
            <% end %>
          </td>
          <td>
            <% if step.person %>
              <%= step.person.name %>
            <% end %>
          </td>
            <% if step.office %>
              <td><%= step.office.name %></td>
            <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</p>


<%= link_to 'Edit', edit_file_record_path(@file_record) %> 
<%= link_to 'Back', file_records_path %>
<br>
<%= link_to 'Select', offices_path %>


<%= form_for [@file_record, @step] do |f| %>
<%= f.collection_select(:office_id, Office.all, :id, :name) %>
<%= f.submit %>
<% end %>

