<h1>Listing steps</h1>

<table>
  <thead>
    <tr>
      <th>File record</th>
      <th>Person</th>
      <th>Office</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @steps.each do |step| %>
      <tr>
        <% if step.file_record != nil %>
          <td><%= step.file_record.title %></td>
        <% end %>
        <% if step.person != nil %>
          <td><%= step.person.name %></td>
        <% end %>
        <% if step.office != nil %>
          <td><%= step.office.name %></td>
        <% end %>
        <td><%= link_to 'Show', step %></td>
        <td><%= link_to 'Edit', edit_step_path(step) %></td>
        <td><%= link_to 'Destroy', step, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Step', new_step_path %>
