<p id="notice"><%= notice %></p>

<p>
  <% if @step.file_record != nil %>
    <strong>File record:</strong>
    <%= @step.file_record.title %>
  <% end %>
</p>

<p>
  <% if @step.person != nil %>
    <strong>Person:</strong>
    <%= @step.person.name %>
  <% end %>
</p>

<p>
  <% if @step.office != nil %>
    <strong>Office:</strong>
    <%= @step.office.name %>
  <% end %>
</p>

<%= link_to 'Edit', edit_step_path(@step) %> |
<%= link_to 'Back', steps_path %>
